<div class="login-form-container">
	<h2 class="form-title">Bienvenue</h2>

	<form class="login-form" action="{{ path('app_login') }}" method="POST">

		<input type="email" id="email" name="_username" required/>

		<input type="password" name="_password" required/>

		{% if Error  %}
			<div>{{ Error.messageKey|trans(Error.messageData, 'security') }}</div>
		{% endif %}

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		<a href="#" class="forgot-password">Mot de passe oublié</a>

		<button type="submit" value="login" name="login" class="submit-btn">Connexion</button>
	</form>

	<p class="message">Vous n'avez pas de compte ?
		<a href="{{ path('app_register') }}" id="sign-up-btn" class="other-btn">Inscrivez-vous</a>
	</p>
</div>
