<div class="registration-form-congtainer">
	<h2 class="form-title">Créer un compte</h2>

	<form class="registration-form" action="" method="POST">

		<input type="email" id="email" name="email" placeholder="Email" required/>

		<input type="password" id="reg-password" name="pswd" placeholder="Mot de passe" required/>

		<input type="password" placeholder="Confirmation du mot de passe" id="confirm-password" required>

		<input type="text" id="lastname" name="nom" placeholder="Nom" required/>

		<input type="text" id="firstname" name="prenom" placeholder="Prénom" required/>

		<input type="text" class="form-control" id="tel" pattern="[0-9]{2}[0-9]{2}[0-9]{2}[0-9]{2}[0-9]{2}" placeholder="Téléphone" name="tel" required/>

        <input type="text" id="company" name="entreprise" placeholder="Nom de l'entreprise" required />

        <input type="text" id="job" name="poste" placeholder="Poste au sein de l'entreprise" required />


		<button type="submit" value="login" name="login" class="submit-btn">Continuer</button>
	</form>

	<p class="message">Vous avez déjà un compte ?
		<a href="{{ path('app_login') }}" id="login-btn" class="other-btn">Connectez-vous</a>
	</p>
</div>
