{% extends "base.html.twig" %}

{% block title %}
    Tickets - Qui sommes-nous
{% endblock %}

{% block body %}
	<h1>Qui sommes-nous</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere euismod lectus. Duis gravida erat non faucibus cursus. Etiam facilisis, velit at auctor consectetur, elit purus pulvinar tellus, eget ultrices purus orci eu tellus. Donec vitae ipsum consequat, dapibus nibh id, cursus nisi. Donec eu enim quis tortor viverra tincidunt in ornare orci. Nam vel dapibus est. Cras aliquam mi ut egestas dapibus. Nunc vulputate cursus porta. Morbi quam dolor, ultricies ac placerat sit amet, lobortis et nisl. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque posuere ac diam id aliquet. Sed turpis velit, tempor nec orci nec, sodales feugiat lorem. Ut dictum nec erat ut semper. Aenean id fringilla nisi, eu rhoncus massa. Pellentesque maximus, nulla vel molestie consectetur, lectus tortor volutpat leo, non tempor velit massa vel ligula.</p>
{% endblock %}
