{% extends "base.html.twig" %}

{% block title %}
	Tickets - Accueil
{% endblock %}

{% block body %}
	<h1>Lorem ipsum, calculateur de prix</h1>
    <p>Un prix de référence pour vos transports</p>
    <a href="#">Calculer</a>
{% endblock %}
