<div class="login-form-congtainer">
	<h2 class="form-title">Bienvenue</h2>

	<form class="login-form" action="" method="POST">

		<input type="email" id="email" name="email" required/>

		<input type="password" name="pswd" required/>

		<a href="#" class="forgot-password">Mot de passe oublié</a>

		<button type="submit" value="login" name="login" class="submit-btn">Connexion</button>
	</form>

	<p class="message">Vous n'avez pas de compte ?
		<a href="{{ path('register') }}" id="sign-up-btn" class="other-btn">Inscrivez-vous</a>
	</p>
</div>
