<nav>
	<div class="logo-container">
		<a href="#" class="logo">LOGO</a>
	</div>
	<div class="menu-container">
		<ul>
			<li><a href="#">Accueil</a></li>
			<li><a href="#">Qui sommes-nous</a></li>
			<li><a href="#">Contact</a></li>
			<li><a href="#">Connexion</a></li>
		</ul>
	</div>
</nav>
