{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié
{% endblock title %}

{% block body %}
<div class="forgot-password-form-container">
	<h2 class="form-title">Réinitialisaiton du mot de passe</h2>

	{{ form(passwordForm) }}

	{# if Error  %}
		<div class="error-message">{{ Error.messageKey|trans(Error.messageData, 'security') }}</div>
	{% endif #}
</div>

{% endblock %}